
*{
    background-color: #f8edc3;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    line-height:150%;
}

header{
    margin-top: 1.25rem;
    margin-left: 3.75rem;
    width:2%;
}

main{
    display: flex;
    margin-left: 3.25rem;
    
}
body{
    margin:0;
}

.lado-esquerdo{
    margin-left:12.5rem;
}

.lado-direito{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-area{
    background-color: #f8edc3;
    border-color: #f8edc3;
    height:18.75rem;
    margin-top: 3.25rem;
    text-transform: lowercase;
    resize:none;
    font-size: 1.75rem;
}

.text-area:focus{
        outline: none;
}

.imagem-alerta{
   width: 1.25rem;
   height: 1.25rem;
}

.alerta{
    display: flex;
    align-items:center;
    font-size: 1.125rem;  
}

.container-botoes{
    display: flex;
    gap:1.5rem;    
}

.criptografarMensagem{
    background-color: #A02334;
    border-radius: 1.5rem;
    border-color:#A02334;
    color: white;
    cursor:pointer;
    height: 3.5rem;
    width: 12.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.criptografarMensagem:hover {
    background-color: #be4253;
}

.RestaurarMensagem{
    background-color: #ff8f9e;
    border-radius: 1.5rem;
    color: #484848;
    cursor:pointer;
    height: 3.5rem;
    width: 12.5rem;
    font-size:1.125rem;
    font-weight: 600;
    cursor:pointer;
}

.RestaurarMensagem:hover {
    background-color: #be4253;
    color: white;
}


.mensagem{
    border: none;
    background-image: url(./imagens/aventureira.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    margin-top: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 2.5rem;
    resize: none;
    height:34.5rem;
    width: 17rem;
    margin-top: -15%;
    font-weight: 600;
    font-size: 1.5rem;
    color: #A02334;
    
}

.mensagem:focus{
    outline: none;
}

::placeholder{color:#A02334}


.Copiar{
    background-color: #A02334;
    border-radius: 1.5rem;
    border-color:#A02334;
    color: white;
    cursor:pointer;
    height: 2.5rem;
    width: 11rem;
    font-size: 1.125rem;
    cursor:pointer;
    font-weight: 600;
    position:absolute;
    bottom:3rem;
}

.Copiar:hover {
    background-color: #be4253;
}

footer{
    font-weight: 600;
    background-color: #A02334;
    color:white;
    text-align: center;
    padding: 0.25rem;
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
}

